extends layout

block content
    .row
        .span12
            .tabbable
                ul.nav.nav-tabs
                    li.active
                        a(href='#xhprof', data-toggle='tab') Last run
                    li
                        a(href='#xhprof_diff', data-toggle='tab') Diff (<span data-diff>✘</span>)
                    li
                        a(href='#xhprof_chain', data-toggle='tab') Chain (<span data-chain>-</span>)
                    li
                        a(href='#response_time', data-toggle='tab') Response Time

                .tab-content
                    .tab-pane.active#xhprof
                        iframe(src='about:blank', data-xhprof='run')
                    .tab-pane#xhprof_diff
                        iframe(src='about:blank', data-xhprof='diff')
                    .tab-pane#xhprof_chain
                        iframe(src='about:blank', data-xhprof='chain')
                    .tab-pane#response_time
                        .response-time

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/boot.js')
    script(src='/js/d3.v2.js')
    script(src='/js/response_time.js')
